[submodule "src/PHPMailer"]
	path = src/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
	branch = master
[submodule "PHPMailer"]
	path = PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
