<?php
    return array(
        "DB_HOST" => "localhost",
        "DB_USER" => "pnpmonitor",
        "DB_PASS" => "",
        "DB_NAME" => "pnpmonitor",
        "SMTP_HOST" => "smtp.gmail.com",
        "SMTP_USER" => "username@gmail.com",
        "SMTP_PASS" => "",
        "SMTP_FROM" => "username@gmail.com",
        "SMTP_TO"   => "username@gmail.com",
    );
