body {
    background-color: Honeydew;
    font-family: Verdana, Arial, sans-serif;
}

table {
    border-collapse:  collapse;
    border-spacing:   0px 0px;
    margin-bottom:    15px;
}

tr { background-color: PaleGreen; }
tr:nth-child(even){ background-color: LightGreen; }
tr:hover { background-color: MediumSeaGreen; }

td, th {
    border: 1px solid DarkGreen;
    padding: 0px 10px;
    color: DimGray;
}

th {
    text-align: left;
    background-color: SeaGreen;
    color: White;
    padding: 5px 10px;
}

form {
    margin: 0px;
}

input {
    font-family: Verdana, Arial, sans-serif;
    margin: 5px;
    background-color: Honeydew;
    padding: 3px;
    width: 250px;
}

input[type=submit] {
    background-color: Honeydew;
    color: SeaGreen;
    padding: 5px 10px;
    width: 150px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: LightGreen;
}

td.name {
    width: 100px;
}

td.textport {
    width: 150px;
}

td.urlhost {
    width: 200px;
}

div.msg {
    color: Green;
}

div.errorMsg {
    color: Red;
}

td.result {
    font-size: small;
}

a {
    color: dimgray;
    text-decoration: none;
}
